VITE_BACKEND_URL=http://localhost:3003
VITE_AUTH_API_URL=/api/auth/login
VITE_FINANCEIRO_FATURAS_XLSX_URL=/api/financeiro/faturas-links-xlsx
VITE_FINANCEIRO_FATURAS_LINKS_JSON_URL=/api/financeiro/faturas-links-json
VITE_FINANCEIRO_FATURAS_XML_ZIP_URL=/api/financeiro/faturas-xml-zip